

<<<<<<< HEAD

 <%= render partial: 'shared/user', collection: @users %>

=======
<div class="container"> 
    
    <%= render partial: 'shared/user', collection: @users %>

</div>
>>>>>>> 0ee0b301794b49cae33bb8e211f977924892dee6
