

<div class="container"> 
    

    <!-- we could wrap this in a _user.html.erb partial, but does not work with heroku? path problem? -->
    <%= render partial: 'shared/user', collection: @users %>


</div>